<div id="menubar-ic">
    &nbsp;
    <div class="menubox"><a href="/index">Startseite</a></div>
    <div class="menubox"><a href="/lyrics">Liedtexte</a></div>
    <div class="menubox"><a href="/signup">Registrieren</a></div>
    <div class="menubox"><a href="/login">Login</a></div>
    <div class="menubox"><a href="/adminarea">Admin</a></div>
</div>

