<!doctype html>
<html>
<head>
    <title>Startseite</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/styles.css"/>
</head> 

<body>
    <img src="/images/background.jpg" id="background-image">

    <div id="menubar-dis">
        <%- include("../partials/menubar") %>
    </div>
    
    <div id="footer">
        <%- include("../partials/footer") %>
    </div>
</body>
</html>