<!doctype html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" media="all" href="/css/styles.css"/>
</head> 

<body>
	<img src="/images/background.jpg" id="background-image">

    <div id="menubar-dis">
        <%- include("../partials/menubar") %>
    </div>

	<div class="maindiv">
		<div class="maindiv">
			<div id="admingirisformu" class="formstyle">
				<h1>Login</h1><br>
				<form action="" method="POST">	
					Benutzername:<br><br>
					<input type="text" name="username"><br><br>
					Kennwort:<br><br>
					<input type="password" name="password"><br><br>
					<input type="submit" name="logindata" value="Senden"><br><br>
				</form>	
			</div>
		</div>
	</div>
	
    <div id="footer">
        <%- include("../partials/footer") %>
    </div>  
</body>
</html>